* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: 100%;
}

h1 {
	text-shadow: 1px 0px 0px black,
                 -1px 0px 0px black, 
                 0px 1px 0px black, 
                 0px -1px 0px black;
	font-family: Arial Black;
	font-size: 80px;
}

#site p {
	text-shadow: 1px 0px 0px black,
                 -1px 0px 0px black, 
                 0px 1px 0px black, 
                 0px -1px 0px black;
	font-size: 20px;
}

#background {
    position: fixed; 
    overflow: hidden; 
    filter: blur(3.7px);
}

#background img {
	width: 100%;
}

#site {
    position: absolute;
    padding: 20px;
    margin-left: 0px;
    bottom: 40%;
    right: 19.5%;
    color: white;
}

#site h1 {
	text-align: center;
	
}

#site p {
	width: 800px;
	text-align: center;
}

#buttons #cadastro {
	position: fixed;
	width: 200px;
	right: 35.4%;
	top: 60%;
	background-color:#A52A2A;
	color: white;
}

#buttons #login {
	position: fixed;
	width: 200px;
	right: 50.4%;
	top: 60%;
	background-color:#A52A2A;
	color: white;
}


p {
    margin-bottom: 1.5em;
}

 div #login {
	margin-left: 1000px;
	margin-bottom: 500px;
}