{% extends 'application/base.html' %}
{% load static %}
{% block title %}CADASTRAR PESSOA{% endblock %}
{% block css %}<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
{% include 'application/navbar.html'%}
<div class="container">
  <div class="py-5 text-center">
    <h2>CADASTRAR PESSOA</h2>
    <p class="lead">Insira os dados</p>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-label-group">
              <input type="text" class="form-control" name="name" required autofocus>
              <label>Nome</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-label-group">
              <input type="number" class="form-control" name="cpf" required>
              <label>CPF</label>
            </div>
          </div>
        </div>
        {% if error != "" %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endif %}
        <button class="btn btn-lg btn-block btn-custom" type="submit">Cadastrar Pessoa</button>
      </form>
      <br>
      <a href="{% url 'consumers' %}" class="btn btn-lg btn-block btn-custom">Voltar</a>
    </div>
  </div>
  <footer class="my-4 pt-5 text-muted text-center text-small">
    <p class="lead mb-1" style="font-size: 20px;">&copy; 2019 UFAL Arapiraca</p>
  </footer>
</div>
{% endblock %}
