{% extends 'application/base.html' %}
{% load static %}
{% block title %}PESSOAS{% endblock %}
{% block css %}<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

<body>
{% include 'application/navbar.html'%}
<div class="container">
  <div class="py-5 text-center">
    <h2>PESSOAS</h2>
    <p class="lead">Lista das Pessoas Cadastradas no Sistema</p>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Creditos</th>
          <th>Bolsista</th>
          <th>Tipo</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for consumer in consumers %}
        <tr>
          <td>{{ consumer.user.get_full_name }}</td>
          <td>{{ consumer.user.username }}</td>
          <td>R$ {{ consumer.credit }}.00</td>
          <td>{{ consumer.get_studentship }}</td>
          <td>{{ consumer.get_type }}</td>
          <th><a href="{% url 'consumers_delete' consumer.id %}"><i class="far fa-trash-alt"></i></a></th>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      {% if consumers.has_other_pages %}
      <nav>
        <ul class="pagination pagination-sm justify-content-center">
          {% if consumers.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ consumers.previous_page_number }}">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="">&laquo;</a>
            </li>
          {% endif %}
          {% for i in consumers.paginator.page_range %}
            {% if consumers.number == i %}
              <li class="page-item active">
                <a class="page-link" href="">{{ i }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if consumers.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ consumers.next_page_number }}">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="">&raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      <a href="{% url 'consumers_new' %}" class="btn btn-lg btn-block btn-custom">Cadastrar Pessoa</a>
    </div>
  </div>
  <footer class="my-4 pt-5 text-muted text-center text-small">
    <p class="lead mb-1" style="font-size: 20px;">&copy; 2019 UFAL Arapiraca</p>
  </footer>
</div>
</body>

{% endblock %}
