{% extends 'application/base.html' %}
{% load static %}
{% block title %}DEBITAR REFEIÇÃO{% endblock %}
{% block css %}<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
{% include 'application/navbar.html'%}
<div class="container">
  <div class="py-5 text-center">
    <h2>DEBITAR REFEIÇÃO</h2>
    <p class="lead">Insira os dados do GRU abaixo</p>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-label-group">
              <input type="number" class="form-control" name="cpf" required autofocus>
              <label>CPF</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-label-group">
              <input type="number" class="form-control" name="quantity" required>
              <label>Quantidade</label>
            </div>
          </div>
        </div>
        <div class="person-type text-center">
          <div class="form-check form-check-inline">
            <input id="value-3" class="form-check-input" type="radio" name="value" value="3" checked>
            <label for="value-3" class="form-check-label">Graduando</label>
          </div>
          <div class="form-check form-check-inline">
            <input id="value-5" class="form-check-input" type="radio" name="value" value="5">
            <label for="value-5" class="form-check-label">Pós Graduando</label>
          </div>
          <div class="form-check form-check-inline">
            <input id="value-8" class="form-check-input" type="radio" name="value" value="8">
            <label for="value-8" class="form-check-label">Servidor/Professor</label>
          </div>
        </div>
        <br>
        {% if error != "" %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endif %}
        <button class="btn btn-lg btn-block btn-custom" type="submit">Creditar Pagamento</button>
        <br>
      </form>
      <a href="{% url 'index' %}" class="btn btn-lg btn-block btn-custom">Voltar</a>
    </div>
  </div>
  <footer class="my-4 pt-5 text-muted text-center text-small">
    <p class="lead mb-1" style="font-size: 20px;">&copy; 2019 UFAL Arapiraca</p>
  </footer>
</div>
{% endblock %}
