{% extends 'application/base.html' %}
{% load static %}
{% block title %}EasyRU - UFAL{% endblock %}
{% block css %}<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

<body class="background-image">
<div class="container">
  <div class="row">
    <div>
      <div class="info">
        <img src="{% static 'imagens/download.png' %}">
        <h1><b>EasyRU</b></h1>
        <p><strong>Sistema de gerenciamento de GRUs - Universidade Federal de Alagoas</strong></p>
      </div>
      <div class="text-center">
        <a href="{% url 'operators_login' %}" class="btn btn-lg btn-custom">Entrar no Sistema</a>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}
