{% extends 'application/base.html' %}
{% load static %}
{% block title %}EasyRU - UFAL{% endblock %}
{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<body>
{% include 'application/navbar.html'%}
<div class="container chart">
  <main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Seja Bem Vindo, {{user.name}}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Share</button>
          <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
    <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
  </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
</body>
{% else %}
<body class="background-image">
  <div class="info">
    <img src="{% static 'imagens/download.png' %}">
    <h1><b>EasyRU</b></h1>
    <p><strong>Sistema de gerenciamento de GRUs - Universidade Federal de Alagoas</strong></p>
  </div>
  <div class="text-center">
    <a href="{% url 'operators_login' %}" class="btn btn-lg btn-custom">Entrar no Sistema</a>
  </div>
</body>
{% endif %}
{% endblock %}
