{% extends 'application/base.html' %}
{% load static %}
{% block title %}LOGIN{% endblock %}
{% block css %}<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>LOGIN</h2>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="form-label-group">
          <input type="number" id="inputCPF" class="form-control" placeholder="CPF" name="cpf" required autofocus>
          <label for="inputCPF">CPF</label>
        </div>

        <div class="form-label-group">
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
          <label for="inputPassword">Senha</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Lembre-se de mim
          </label>
        </div>

        {% if error != "" %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endif %}

        <button class="btn btn-lg btn-block btn-custom" type="submit">Entrar</button>
      </form>
    </div>
  </div>
  <footer class="my-4 pt-5 text-muted text-center text-small">
      <p class="lead mb-1" style="font-size: 20px;">&copy; 2019 UFAL Arapiraca</p>
  </footer>
</div>
</body>

{% endblock %}
