{% extends 'application/base.html' %}
{% load static %}
{% block title %}CADASTRO{% endblock %}
{% block css %}
<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<form class="form-signin" method="post">
  <div class="text-center mb-4">
    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">CADASTRO</h1>
  </div>
  {% csrf_token %}
  {% for field in form %}
    <div class="form-label-group">
      {{ field }}
      {{ field.label_tag }}
    </div>
    {% for error in field.errors %}
      <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}
  {% endfor %}

  <button class="btn btn-lg btn-danger btn-block" style="background-color:#A52A2A" type="submit">Cadastrar Funcionário
  </button>
  <p class="mt-5 mb-3 text-muted text-center">&copy;2019 UFAL Arapiraca</p>
</form>
{% endblock %}
