{% extends 'application/base.html' %}
{% load static %}
{% block title %}CADASTRO{% endblock %}
{% block css %}
<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <h2>CADASTRO DE USUARIO</h2>
    <p class="lead">Insira os dados do Usuario</p>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form method="post">

        {% csrf_token %}
        {% for field in form %}
          <div class="form-label-group">
            {{ field }}
            {{ field.label_tag }}
          </div>
          {% for error in field.errors %}
            <p class="alert alert-danger">{{ error }}</p>
          {% endfor %}
        {% endfor %}

        <button class="btn btn-lg btn-danger btn-block" style="background-color:#A52A2A"
          type="submit">Cadastrar Funcionário</button>
      </form>
    </div>
  </div>
  <footer class="my-4 pt-5 text-muted text-center text-small">
      <p class="lead mb-1" style="font-size: 20px;">&copy; 2019 UFAL Arapiraca</p>
  </footer>
</div>
{% endblock %}
