{% extends 'application/base.html' %}
{% load static %}
{% block title %}CADASTRO DE USUARIO{% endblock %}
{% block css %}<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>CADASTRO DE USUARIO</h2>
    <p class="lead">Insira os dados do Usuario</p>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form method="post">
        {% csrf_token %}
        <div class="form-label-group">
          <input class="form-control" type="text" name="cpf" maxlength="11" autofocus="" required="" id="id_cpf">
          <label for="id_cpf">CPF:</label>
        </div>

        <div class="form-label-group">
          <input class="form-control" type="text" name="name" maxlength="50" required="" id="id_name">
          <label for="id_name">Nome:</label>
        </div>

        <div class="form-label-group">
          <input class="form-control" type="password" name="password1" required="" id="id_password1">
          <label for="id_password1">Senha:</label>
        </div>

        <div class="form-label-group">
          <input class="form-control" type="password" name="password2" required="" id="id_password2">
          <label for="id_password2">Confirmar Senha:</label>
        </div>
        {% for field in form %}
          {% for error in field.errors %}
            <p class="alert alert-danger">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        <button class="btn btn-lg btn-block btn-custom" type="submit">Cadastrar Funcionário</button>
      </form>
    </div>
  </div>
  <footer class="my-4 pt-5 text-muted text-center text-small">
      <p class="lead mb-1" style="font-size: 20px;">&copy; 2019 UFAL Arapiraca</p>
  </footer>
</div>
</body>

{% endblock %}
